@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox-1:checked + div {
    @apply bg-green-500;
    @apply border-green-500;
}

.custom-checkbox-1:checked + div svg {
    @apply text-black opacity-100;
    @apply block;
}

.custom-checkbox-2:checked + div {
    @apply bg-green-500;
    @apply border-green-500;
}

.custom-checkbox-2:checked + div svg {
    @apply text-black opacity-100;
    @apply block;
}

.custom-switch-1:checked + div {
    @apply left-1/2;
    @apply bg-black;
}

.custom-switch-2:checked + div > .w-full > .custom-switch-btn-1 {
    @apply bg-transparent;
    @apply text-gray-50;
}

.custom-switch-2:checked + div > .flex-1 > .custom-switch-btn-2 {
    @apply bg-white;
}

.custom-switch-2:checked + div > .flex-1 > .custom-switch-btn-2 > p {
    @apply text-black;
}

.custom-switch-2:checked + div > .flex-1 > .custom-switch-btn-2 > span {
    @apply bg-green-500;
    @apply text-black;
}

.custom-input-text-1:focus ~ label, .custom-input-text-1:valid ~ label {
    @apply top-2;
    @apply left-2.5;
    transform: scale(0.75);
}

.custom-input-text-2:focus + svg {
    @apply text-white;
}

.custom-input-password-1:focus ~ label, .custom-input-password-1:valid ~ label {
    @apply top-2;
    @apply left-3.5;
    transform: scale(0.75);
}

.custom-input-text-3:focus ~ label, .custom-input-text-3:valid ~ label {
    @apply top-2;
    left: 17px;
    transform: scale(0.75);
}

.custom-input-text-4:focus ~ label, .custom-input-text-4:valid ~ label {
    @apply top-3;
    left: 17px;
    transform: scale(0.75);
}

.region-header .text-with-summary {
    @apply text-left;
}

.region-header .text-with-summary p {
    @apply text-2xl text-white tracking-tight leading-normal;
}

.region-content {
    @apply container px-4 mx-auto;
}

.region-content .text-with-summary {
    @apply text-center px-4 md:max-w-5xl mx-auto;
}

.region-content .text-with-summary p {
    @apply mb-8 text-2xl text-white tracking-tight leading-normal;
}

h3 > a {
    text-decoration: underline;
}

.content > h2 {
    @apply text-xl;
}

.content > p {
    @apply my-3;
}

.content a {
    @apply underline;
}