<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/core/misc/favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="canonical" href="https://www.bleach-music.de"/>
    <link rel="shortlink" href="https://www.bleach-music.de"/>
    <title>Bleach - Alternative Rock-Cover</title>
    <script>
        tailwind.config = {
            theme: {
                colors: {
                    current: 'currentColor',
                    transparent: 'transparent',

                    black: '#000',
                    white: '#fff',
                    gray: {
                        50: '#F6F6F6',
                        100: '#E7E7E7',
                        200: '#D1D1D1',
                        300: '#B0B0B0',
                        400: '#888888',
                        500: '#6D6D6D',
                        600: '#5D5D5D',
                        700: '#4C4C4C',
                        800: '#454545',
                        900: '#3D3D3D',
                    },
                    blueGray: {
                        50: '#F4F6F7',
                        100: '#E4E7E9',
                        200: '#CBD1D6',
                        300: '#A7B0B9',
                        400: '#7B8795',
                        500: '#606C7A',
                        600: '#535B67',
                        700: '#474E57',
                        800: '#3F434B',
                        900: '#383C41',
                    },
                    red: {
                        50: '#FFF1F1',
                        100: '#FFDFDF',
                        200: '#FFC5C5',
                        300: '#FF9D9D',
                        400: '#FF6464',
                        500: '#FF1E1E',
                        600: '#ED1515',
                        700: '#C80D0D',
                        800: '#A50F0F',
                        900: '#881414',
                    },
                    green: {
                        50: '#FDFFE4',
                        100: '#F9FFC4',
                        200: '#F1FF90',
                        300: '#E2FF50',
                        400: '#CCFF00',
                        500: '#B2E600',
                        600: '#8AB800',
                        700: '#688B00',
                        800: '#526D07',
                        900: '#455C0B',
                    },
                },
                backgroundColor: theme => ({
                    ...theme('colors'),
                    body: '#0E0F11',
                }),
                borderColor: theme => ({
                    ...theme('colors'),
                    DEFAULT: '#e5e7eb',
                }),
                fontFamily: {
                    body: 'Arial, "Helvetica Neue", Helvetica, sans-serif;',
                    heading: '"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;',
                    sans: 'Arial, "Helvetica Neue", Helvetica, sans-serif;',
                    serif: 'ui-serif, Georgia, Cambria, "Times New Roman", Times, serif',
                    mono: '"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;',
                },

            }
        }
    </script>
    <style type="text/tailwindcss">
        /* Shuffle */

        .custom-checkbox-1:checked + div {
            @apply bg-green-500;
            @apply border-green-500;
        }

        .custom-checkbox-1:checked + div svg {
            @apply text-black opacity-100;
            @apply block;
        }

        .custom-checkbox-2:checked + div {
            @apply bg-green-500;
            @apply border-green-500;
        }

        .custom-checkbox-2:checked + div svg {
            @apply text-black opacity-100;
            @apply block;
        }

        .custom-switch-1:checked + div {
            @apply left-1/2;
            @apply bg-black;
        }

        .custom-switch-2:checked + div > .w-full > .custom-switch-btn-1 {
            @apply bg-transparent;
            @apply text-gray-50;
        }

        .custom-switch-2:checked + div > .flex-1 > .custom-switch-btn-2 {
            @apply bg-white;
        }

        .custom-switch-2:checked + div > .flex-1 > .custom-switch-btn-2 > p {
            @apply text-black;
        }

        .custom-switch-2:checked + div > .flex-1 > .custom-switch-btn-2 > span {
            @apply bg-green-500;
            @apply text-black;
        }

        .custom-input-text-1:focus ~ label, .custom-input-text-1:valid ~ label {
            @apply top-2;
            @apply left-2.5;
            transform: scale(0.75);
        }

        .custom-input-text-2:focus + svg {
            @apply text-white;
        }

        .custom-input-password-1:focus ~ label, .custom-input-password-1:valid ~ label {
            @apply top-2;
            @apply left-3.5;
            transform: scale(0.75);
        }

        .custom-input-text-3:focus ~ label, .custom-input-text-3:valid ~ label {
            @apply top-2;
            left: 17px;
            transform: scale(0.75);
        }

        .custom-input-text-4:focus ~ label, .custom-input-text-4:valid ~ label {
            @apply top-3;
            left: 17px;
            transform: scale(0.75);
        }

        .region-header .text-with-summary {
            @apply text-left;
        }

        .region-header .text-with-summary p {
            @apply text-2xl text-white tracking-tight leading-normal;
        }

        .region-content {
            @apply container px-4 mx-auto;
        }

        .region-content .text-with-summary {
            @apply text-center px-4 md:max-w-5xl mx-auto;
        }

        .region-content .text-with-summary p {
            @apply mb-8 text-2xl text-white tracking-tight leading-normal;
        }

        h3 > a {
            text-decoration: underline;
        }

        .content > h2 {
            @apply text-xl;
        }

        .content > p {
            @apply my-3;
        }

        .content a {
            @apply underline;
        }
    </style>
</head>
<body class="path-frontpage page-node-type-page bg-body">

<div class="">

    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>

        <section class="relative overflow-hidden">
            <div class="container px-4 mx-auto">
                <div class="flex items-center justify-between pt-6 -m-2">
                    <div class="w-auto p-2">
                        <div class="flex flex-wrap items-center">
                            <div class="w-auto">
                                <a class="relative z-10 inline-block" href="/">
                                    <img src="/images/logo-50h-t.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="w-auto p-2">
                        <div class="flex flex-wrap items-center">
                            <div class="w-auto hidden lg:block">
                                <ul class="flex items-center mr-12">
                                </ul>
                            </div>
                            <div class="w-auto hidden lg:block">
                                <div class="inline-block"><a
                                            class="inline-block px-8 py-4 text-white hover:text-black tracking-tighter hover:bg-green-400 border-2 border-white focus:border-green-400 focus:border-opacity-40 hover:border-green-400 focus:ring-4 focus:ring-green-400 focus:ring-opacity-40 rounded-full transition duration-300"
                                            href="./kontakt">Kontakt</a></div>
                            </div>
                            <div class="w-auto lg:hidden">
                                <a class="relative z-10 inline-block" href="#">
                                    <svg class="navbar-burger text-green-500" width="51" height="51" viewbox="0 0 56 56"
                                         fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                                        <path d="M37 32H19M37 24H19" stroke="black" stroke-width="1.5"
                                              stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50">
                <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
                <nav class="relative z-10 px-9 pt-8 h-full overflow-y-auto">
                    <div class="flex flex-wrap justify-between h-full">
                        <div class="w-full">
                            <div class="flex items-center justify-between -m-2">
                                <div class="w-auto p-2">
                                    <a class="inline-block" href="#">
                                        <img src="/images/logo-50h-t.png" alt=""></a>
                                </div>
                                <div class="w-auto p-2">
                                    <a class="navbar-burger inline-block text-white" href="#">
                                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center py-16 w-full">
                            <ul>
                                <li class="mb-8 text-white font-medium hover:text-opacity-90 tracking-tighter"><a
                                            href="./kontakt">Kontakt</a></li>
                            </ul>
                        </div>
                        <div class="flex flex-col justify-end w-full pb-8">
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <div class="region region-content mt-9">
            <div class="text-white content">
                <h1 class="text-3xl">
                    {{ page.title }}
                </h1>

                {{ page.content }}
            </div>
        </div>
    </div>

    <section class="py-16 overflow-hidden">
        <div class="container px-4 mx-auto">
            <div class="flex flex-wrap items-center justify-between -m-8">
                <div class="w-48 p-8">
                    <a href="/"><img src="/images/logo-50h-t.png" alt=""></a></div>
                <div class="w-auto p-8">
                    <ul class="flex flex-wrap -m-5">
                        <li class="p-5"><a class="inline-block text-lg font-medium text-gray-300 hover:text-white transition duration-300" href="./kontakt">Kontakt</a></li>
                        <li class="p-5"><a class="inline-block text-lg font-medium text-gray-300 hover:text-white transition duration-300" href="./impressum">Impressum</a></li>
                        {#                <li class="p-5"><a class="inline-block text-lg font-medium text-gray-300 hover:text-white transition duration-300" href="./datenschutz">Datenschutz</a></li> #}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/main.js"></script>

</body>
</html>
