{% extends "base.html.twig" %}

{% block body %}

        <div class="region region-content mt-9">
            <div class="text-white content">
                <h1 class="text-3xl">
                    {{ page.title }}
                </h1>

                {{ page.content }}
            </div>
        </div>

{% endblock %}